.Rproj.user
.Rhistory
.RData
.DS_Store
conflicts.csv
new_fixes.csv
.Rapp.history

*.DS_Store
rawData/.DS_Store
*.Rproj

data/observations.csv

output/growthFormData.csv
output/synonym_fixes.csv
taxonomicResources/spermatophyta_synonyms_PLANTLIST.csv
output/spelling_fixes.csv
output/syn_fixes_done.csv
output/spelling_fixes_done.csv
output/conflicts.csv
output/uniqueSpeciesGFData.csv

.remake/

output/
figures/
tables/